@{
  Layout = "_Layout";
}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Specialty: @Model.GetName()</h2>
      <h3>Stylists</h3>
      <ul>
        @foreach (var stylist in Model.GetStylists())
        {
          <a href="/Stylist/Info/@stylist.GetId()"><li>@stylist.GetName()</li></a>
        }
      </ul>
      <form action="#" method="post" id="form">
        <select name="stylistId" id="stylistId">
          @foreach (var stylist in ViewBag.stylists)
          {
            <option value="@stylist.GetId()">@stylist.GetName()</option>
          }
        </select>
        <button type="submit" class="btn" id="submitButton">Add Stylist</button>
      </form>
      <a href="/Specialty/Delete/@Model.GetId()"><button type="button" class="btn">Delete This Specialty</button></a>
      <a href="/Specialty/Display"><button type="button" class="btn">View All Specialties</button></a>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("form").submit(function() {
      $("form#form").attr("action", "/Specialties_Stylists/Create/@Model.GetId()/" + $("#stylistId").val() + "/0");
    });
  });
</script>
